@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <textarea rows="50" cols="150">
KUSYS Project: 
Using .NET Core 6, EFCore 6 and any relational DB (preferably SQLExpress); write an ASP.NET Core Web App named “KUSYS-Demo” with CodeFirst approach. 
Using this web application, users should be able to:
1- Create/Update/Delete a student, 
2- List all Students and see details of a selected student in a popup.
3- Match a student with a selection of courses. (Constraint: a student can select a course once.)
4- List all Student & Course matchings 

Example Objects:
Student; StudentId, FirstName, LastName, BirthDate
Course; CourseId, CourseName
….
Course List

CourseId	CourseName
*CSI101	    Introduction to Computer Science
*CSI102	    Algorithms
*MAT101	    Calculus
*PHY101	    Physics



Notes:
*Write seed classes for the initial Courses and roles
*You can add new objects or add properties to an existing object if needed
*Do not duplicate pages or code blocks unless you have to
*Remember to write code comments
*Using a responsive design is a plus
*Writing unit tests is a plus
*You can share your project via your github account
*At the next technical meeting you will present a live demo and explain your code
</textarea>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>